<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <h1>Example heading <span class="badge bg-dark">New</span></h1>
<h2>Example heading <span class="badge bg-secondary">New</span></h2>
<h3>Example heading <span class="badge bg-danger">New</span></h3>
<h4>Example heading <span class="badge bg-secondary">New</span></h4>
<h5>Example heading <span class="badge bg-warning">New</span></h5>
<h6>Example heading <span class="badge bg-secondary">New</span></h6>
<br><hr><br>
<button type="button" class="btn btn-danger">
    web Devlopment <span class="badge text-bg-info"> <a href="https://getbootstrap.com/docs/5.3/components/badge/">bs</a></span>
  </button> with link badge <br> <br>
<button type="button" class="btn btn-danger">
    web Devlopment <span class="badge text-bg-warning"> bs</span>
  </button> without link badge
  <br><hr><br> <br><br>
  <button type="button" onclick="alert('check unread message')" class="btn btn-danger position-relative">
    inbox
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-warning">
        99+  
        <span class="visually-hidden">unread 1 messages</span>
        
    </span> </button> <br><br>
  <button type="button" onclick="alert('check unread message')" class="btn btn-info position-relative">
    inbox
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle text-bg-dark">
        99+  
        <span class="visually-hidden">unread 1 messages</span>
        
    </span>
  </button> <br> <br>
  <button type="button" onclick="alert('check unread message')" class="btn btn-dark position-relative">
    inbox
    <span class="position-absolute top-0 start-100 translate-middle badge rectangle text-bg-warning">
        99+  
        <span class="visually-hidden">unread 1 messages</span>
        
    </span>
  </button>
  <hr>
  <button type="button" class="btn btn-primary position-relative">
    Profile
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-info border border-danger  rounded-circle">
      <span class="visually-hidden">New alerts</span>
    </span>
  </button>
  <hr>
  <span class="badge rounded-pill text-bg-primary">Primary</span>
<span class="badge rounded-pill text-bg-secondary">Secondary</span>
<span class="badge rounded-pill text-bg-success">Success</span>
<span class="badge rounded-pill text-bg-danger">Danger</span>
<span class="badge rounded-pill text-bg-warning">Warning</span>
<span class="badge rounded-pill text-bg-info">Info</span>
<span class="badge rounded-pill text-bg-light">Light</span>
<span class="badge rounded-pill text-bg-dark">Dark</span>
</body>
</html>