<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="btn-group mt-3 text text-center" role="group" aria-label="BAsisc Examples">
        <button class="btn btn-danger active" type="button">१ left</button>
        <button class="btn btn-danger" type="button">२ middle</button>
        <button class="btn btn-danger" type="button">३ right</button>
    </div><hr>
    <div class="btn-group">
        <a href="www.youtube.com" class="btn btn-primary active" >Active link</a>
        <a href="www.google.com" class="btn btn-primary active" aria-current="page">Link</a>
        <a href="www.whatsapp.com" class="btn btn-primary ">Link</a>
      </div> <hr>
    <div class="btn-group">
        <a href="www.youtube.com" class="btn btn-primary " > blue</a>
        <a href="www.google.com" class="btn btn-warning " aria-current="page">yello</a>
        <a href="www.whatsapp.com" class="btn btn-danger ">red</a>
      </div> <hr>
    <div class="btn-group">
        <a href="www.youtube.com" class="btn btn-outline-danger " > blue</a>
        <a href="www.google.com" class="btn btn-outline-dark " aria-current="page">yello</a>
        <a href="www.whatsapp.com" class="btn btn-outline-primary ">red</a>
      </div> <hr>
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
        <label  class="btn btn-outline-danger" for="btncheck1">checkbox1</label>
        <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck2">Checkbox 2</label>
        <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
        <label class="btn btn-outline-secondary" for="btncheck3">Checkbox 3</label>
        <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
        <label class="btn btn-outline-dark" for="btncheck4">Checkbox 4</label>
      
      </div><hr>
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btncheck96" autocomplete="off">
        <label  class="btn btn-outline-danger" for="btncheck96">checkbox1</label>
        <input type="radio" class="btn-check"   name="btnradio" id="btncheck32" autocomplete="off">
        <label class="btn btn-outline-secondary" for="btncheck32">Checkbox 2</label>
        <input type="radio" class="btn-check"  name="btnradio" id="btncheck40" autocomplete="off">
        <label class="btn btn-outline-dark" for="btncheck40">Checkbox 3</label>
      
        <input type="radio" class="btn-check"  name="btnradio" id="btncheck420" autocomplete="off">
        <label class="btn btn-outline-dark" for="btncheck420">Checkbox 4</label>
      
      </div>
      <div class="btn-toolbar mt-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary">1</button>
          <button type="button" class="btn btn-primary ">2</button>
          <button type="button" class="btn btn-primary">3</button>
          <button type="button" class="btn btn-primary">4</button>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <button type="button" class="btn btn-secondary">5</button>
          <button type="button" class="btn btn-secondary">6</button>
          <button type="button" class="btn btn-secondary">7</button>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
          <button type="button" class="btn btn-info">8</button>
        </div>
      </div>
      <hr>
      <div class="btn-toolbar mb-3 mt-3 " role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-outline-danger">1</button>
          <button type="button" class="btn btn-outline-secondary">2</button>
          <button type="button" class="btn btn-outline-danger">3</button>
          <button type="button" class="btn btn-outline-secondary">4</button>
        </div>
        <div class="input-group">
          <div class="input-group-text" id="btnGroupAddon">@</div>
          <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon"> <button type="button" >submit</button>
        </div>
      </div>
      
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
          <button type="button" class="btn btn-outline-danger">1</button>
          <button type="button" class="btn btn-outline-secondary">2</button>
          <button type="button" class="btn btn-outline-danger">3</button>
          <button type="button" class="btn btn-outline-secondary">4</button>
        </div>
        <div class="input-group">
          <div class="input-group-text" id="btnGroupAddon2">@</div>
          <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon2" > <button>submit</button>
        </div>
      </div>
      <div class="btn-group btn-group-lg mt-3" role="group" aria-label="Large button group">
        <button type="button" class="btn btn-outline-primary">Left</button>
        <button type="button" class="btn btn-outline-primary">Middle</button>
        <button type="button" class="btn btn-outline-primary">Right</button>
      </div>
      <br>
      <div class="btn-group mt-3" role="group" aria-label="Default button group">
        <button type="button" class="btn btn-outline-primary">Left</button>
        <button type="button" class="btn btn-outline-primary">Middle</button>
        <button type="button" class="btn btn-outline-primary">Right</button>
      </div>
      <br>
      <div class="btn-group btn-group-sm mt-3" role="group" aria-label="Small button group">
        <button type="button" class="btn btn-outline-primary">Left</button>
        <button type="button" class="btn btn-outline-primary">Middle</button>
        <button type="button" class="btn btn-outline-primary">Right</button>
      </div><hr>
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-primary">1</button>
        <button type="button" class="btn btn-primary">2</button>
      
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">1</a></li>
            <li><a class="dropdown-item" href="#"> 2</a></li>
          </ul>
        </div>
      </div><hr>
      <div class="text-center">
      <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        <button type="button" class="btn btn-primary">Button</button>
        <button type="button" class="btn btn-primary">Button</button>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
          </ul>
        </div>
        <div class="btn-group dropstart" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
          </ul>
        </div>
        <div class="btn-group dropend" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
          </ul>
        </div>
        <div class="btn-group dropup" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
            <li><a class="dropdown-item" href="#">Dropdown link</a></li>
          </ul>
        </div>
      </div>
    </div>
</body>
</html>